* {
	margin: 0px;
	padding: 0px;
	/*max-width: 100%;*/
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex; 
  -webkit-flex-direction:column;
  -webkit-justify-content: center;
  color: white;
}

body#page_game {
	display: block;
}

.container {
	text-align: center;
}

body#page_game .container {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1;
	text-align: left;
}

#quintus_container {
	position: absolute !important;
	top: 0px;
}

.clearfix {
    clear: both;
}