/* Polices */

@font-face {
  font-family: 'choco';
  src: url('../font/choco.otf');
}

@font-face {
  font-family: 'btrente';
  src: url('../font/btrente.TTF');
}

@font-face {
  font-family: 'fips';
  src: url('../font/fips.otf');
}

@font-face {
  font-family: 'dos';
  src: url('../font/dos.ttf');
}

#titre-regles{
  font-family:fips;
  font-size:0.5em;
}

#regles-content{
  margin-top:90px;
  margin-left:40px;
  font-family:dos;
  text-align: justify;
  color:white;
  font-size:1.4em;
  width:1130px;
}

#menu-gauche{
  float: left;
}

#menu-central{
  margin: 0px auto;
  width: 500px; 
  height: 600px;
  background: black;
  text-align: center; 
}

#menu-droite{
  float: left;
}

a{
  text-decoration:none;
  font-family: "fips";
  font-size:0.7em;
  color: white; 
}

#flamme{
  position:absolute;
  z-index:1;
  top: 80px;
  left: 80px;
}

#flamme2{
  position:absolute;
  z-index:1;
  top: 80px;
  right: 80px;
}

#jouer{
  font-size: 30px;  
}

#jouer:hover{
  font-size: 30px;  
  color:purple;
}

#cadre-btn{
  margin-top: -14px; 
}

.btn{
  margin-top: 20px;
  font-size:20px; 
}

.btn:hover{
  margin-top: 20px;
  font-size:20px; 
  color:skyblue;
}
/*------------Titre------------------*/
p {
  text-align: center;
  font-size: 5em;
  margin: 10px 0 20px 0;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.big-titre:nth-child(1) a {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px rgb(65, 17, 255), 0 0 70px #6D11FF, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  color:grey;
  font-size:8em;
  font-family: "choco";
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}

.big-titre:nth-child(1) a:hover {
  color: #FF1177;
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
}
/*glow for mozilla*/

@-moz-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}

.copyright{
  font-family: "dos";
  position: absolute;
  color: white; 
  top: 560px; 
  left:440px;
  font-size: 25px;
  color:grey;
}

h4{
  font-family: "fips";
  position: absolute;
  color: white; 
  top: 90px; 
  left:430px;
  font-size: 20px;
  color:grey;
}