<script src='./assets/js/jquery.timer.js' type="text/javascript"></script>
<script src='./assets/Quintus/quintus.js'></script>
<script src='./assets/Quintus/quintus_sprites.js'></script>
<script src='./assets/Quintus/quintus_scenes.js'></script>
<script src='./assets/Quintus/quintus_input.js'></script>
<script src='./assets/Quintus/quintus_anim.js'></script>
<script src='./assets/Quintus/quintus_2d.js'></script>
<script src='./assets/Quintus/quintus_touch.js'></script>
<script src='./assets/Quintus/quintus_ui.js'></script>
<link rel="stylesheet" type="text/css" href="./assets/css/main.css">
<script src='./assets/js/platformer.js'></script>
<div id="timer">
	<h3>Temps restant</h3>
	<span id="countdown">00:00:00</span>
</div>