<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<script src="../assets/js/jQuery.js" type="text/javascript"></script>
	<script src='../assets/js/jquery.timer.js' type="text/javascript"></script>
	<script src='../assets/Quintus/quintus.js'></script>
	<script src='../assets/Quintus/quintus_2d.js'></script>
	<script src='../assets/Quintus/quintus_anim.js'></script>
	<script src='../assets/Quintus/quintus_audio.js'></script>
	<script src='../assets/Quintus/quintus_input.js'></script>
	<script src='../assets/Quintus/quintus_scenes.js'></script>
	<script src='../assets/Quintus/quintus_sprites.js'></script>
	<script src='../assets/Quintus/quintus_tmx.js'></script>
	<script src='../assets/Quintus/quintus_touch.js'></script>
	<script src='../assets/Quintus/quintus_ui.js'></script>
	<link rel="stylesheet" type="text/css" href="../assets/css/gameframe.css">
	<script src='../assets/js/platformer.js'></script>
</head>
<body id="gameframe">
	<div id="interface">
		<div id="timer">
			<img id="skull" src="../assets/img/skull.png"/>
			<div id="progress"></div>
			<span class="display">00:00</span>
			<img id="star" src="../assets/img/star.png"/>
		</div>
		<div id="score">Score : <span class="display">0</span></div>
	</div>
</body>