<link href="./assets/css/menu.css" type="text/css" rel="stylesheet" media="all"/>
<link href="./assets/css/endcredits.css" type="text/css" rel="stylesheet" media="all"/>
<link href="./assets/css/jumbotron-narrow.css" type="text/css" rel="stylesheet" media="all"/>

<script src="./assets/js/endcredits.js" type="text/javascript"></script>

<div id="menu">

	<img id ="menu-gauche" src="./assets/img/menu_background.png"  alt="image"/>
	<div id="flamme"><img src="./assets/img/flamme.gif" width="70px" height="70px"/></div>
	<div id="menu-central"> 

		<span class="big-titre"><a href="#">Funky</a></span>
		<h4>Time Traveler</h4><br>
		<img src="./assets/img/sablier.gif" width="85px" height="85px" style="padding-top: 20px;"/>
		<div id="cadre-btn">

			<div class="btn"> <a href="?page=game" id="jouer" >Commencer à jouer</a></div>
			<div class="btn"> <a href="#" class="btn">Comment jouer</a></div>
			<div class="btn"> <a href="#" class="btn">Classements</a></div>
			<div class="btn"> <a class="btn btn-lg btn-success" href="#creditos" name="creditos" class="btn">Crédits</a></div>
			<span class="copyright">Copyright G4 LTD. 2015</span>

		</div>
	</div>
	<div id="flamme2"><img src="./assets/img/flamme.gif" width="70px" height="70px"/></div>
	<img id ="menu-droite" src="./assets/img/menu_background.png"  alt="image"/> 

</div>

<!-- Credits -->
<div id="titles">
	<div id="credits">
		<div id="the-end">Crédits</div>
		<br />
		<h1>Projet réalisé par l'équipe 5-stars</h1>
		<dl>
			<dt>Chef de projet</dt>
			<dd>Paul Dialinas</dd>
			<dt>Développeurs</dt>
			<dd>Quentin Pollet</dd>
			<dd>Joseph Levarato</dd>
			<dt>Design / Animation</dt>
			<dd>Paul Dialinas</dd>
			<dd>Alexis Allaoui</dd>
			<dt>Interface et utilisation</dt>
			<dd>Adrien Grange</dd>
			<dd>Jérémy Obrier</dd>
			<dt>Intelligence artificielle</dt>
			<dd>Quentin Pollet</dd>
			<dd>Joseph Levarato</dd>
			<dt>Personnages</dt>
			<dd>Paul Dialinas</dd>
			<dd>Alexis Allaoui</dd>
			<dd>Adrien Grange</dd>
			<dd>Jérémy Obrier</dd>
		</dl>

		<h1>Copyright G4 2015</h1>
	</div>
</div>